<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 SeQura Engineering. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <sequra_splitpayments>
                <active>1</active>
                <model>SequraSplitpaymentsGatewayFacade</model>
                <title>Divide en 3</title>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_use_for_multishipping>0</can_use_for_multishipping>
                <can_capture_partial>0</can_capture_partial>
                <sort_order>1</sort_order>
                <product>sp1</product>
                <max_order_total>2500</max_order_total>
                <min_order_total>50</min_order_total>
            </sequra_splitpayments>
        </payment>
    </default>
</config>
