<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 SeQura Engineering. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <group id="sequra" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <group id="splitpayments" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Divide en 3</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <config_path>payment/sequra_splitpayments/active</config_path>
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Title</label>
                        <config_path>payment/sequra_splitpayments/title</config_path>
                    </field>
                    <field id="showlogo" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <config_path>payment/sequra_splitpayments/showlogo</config_path>
                        <label>Show logo</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
